<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>E-Cell SGSITS</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    
    <script src="/js/jquery.min.js" type="text/javascript"></script>

    <script src="static/js/particle.js" type="text/javascript"></script>

    <script src="static/js/particles.min.js" type="text/javascript"></script>
    
    <script src="/js/popper.min.js" type="text/javascript"></script>
    
    <script src="/js/three.min.js" type="text/javascript"></script>
    
    <link href="/css/all.min.css" rel="stylesheet">     

    <link href="/css/fontawesome.min.css" rel="stylesheet">    

</head>
<body>