<div class="container" style="font-family: 'Lato', sans-serif; font-size: medium;">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <img src="/img/ecell.jpg" style="height: 40px; width: 40px;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" style="padding-left: 6em; color: aliceblue;">
          <li class="nav-item">
            <a class="nav-link" href="/" style="color: white; font-weight: 600;">HOME<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about" style="color: white; font-weight: 600;">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events" style="color: white; font-weight: 600;">EVENTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/internship" style="color: white; font-weight: 600;">INTERSHIPS</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="/esummit" style="color: white; font-weight: 600;">E-SUMMIT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sponsors" style="color: white; font-weight: 600;">SPONSORS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/team.ejs" style="color: white; font-weight: 600;">TEAM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact" style="color: white; font-weight: 600;">CONTACT</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <a href="#" class="icon-button linkedin"><i class="icon-linkedin fab fa-linkedin-in"></i><span></span></a>
          <a href="#" class="icon-button facebook"><i class="icon-facebook fab fa-facebook-f"></i><span></span></a>
          <a href="#" class="icon-button youtube"><i class="icon-youtube fab fa-youtube"></i><span></span></a>
          <a href="#" class="icon-button instagram"><i class="icon-instagram fab fa-instagram"></i><span></span></a>
        </ul>
      </div>
  
    </nav>
  </div>