<div class="container">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-transparent" id="navsc" style="color: rgb(255, 255, 255);">
    <img src="/img/ecell.jpg" style="height: 40px; width: 40px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/" style="color: aliceblue;">HOME<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about" style="color: aliceblue;">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events" style="color: aliceblue;">EVENTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/internship" style="color: aliceblue;">INTERSHIPS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/esummit" style="color: aliceblue;">E-SUMMIT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sponsors" style="color: aliceblue;">SPONSORS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/team" style="color: aliceblue;">TEAM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact" style="color: aliceblue;">CONTACT</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <a href="#" class="icon-button twitter"><i class="fab fa-linkedin-in"></i><span></span></a>
          <a href="#" class="icon-button facebook"><i class="fab fa-facebook-f"></i><span></span></a>
          <a href="#" class="icon-button youtube"><i class="fab fa-youtube"></i><span></span></a>
          <a href="#" class="icon-button pinterest"><i class="fab fa-instagram"></i><span></span></a>
      </ul>
    </div>

  </nav>
</div>