<% include partials/header.ejs %>

<link href="https://fonts.googleapis.com/css?family=Lato:400,900&display=swap" rel="stylesheet">

<div class="loader" id="preloader">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>

<script>
    $(window).on('load', function () { // makes sure the whole site is loaded 
        $('#status').fadeOut(); // will first fade out the loading animation 
        $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website. 
        $('body').delay(350).css({ 'overflow': 'visible' });
    })


</script>
<div class="overlay">
    <div class="arrow bounce" id="arr">
        <i class="fas fa-chevron-circle-down"></i>
    </div>
</div>

<% include partials/navbar.ejs %>

<section>
    <div class="topinfo">
        <div class="sinfo">
            <p>
                <br>
                <br>
                <hr />
                <br>
                <p
                    style="text-align: center !important; font-weight: bold; font-family: 'Lato', sans-serif; font-size: xx-large;">
                    <strong>Who we are ?</strong>
                </p>
                <p style="font-family: 'Lato', sans-serif; font-size: larger; text-align: center; padding-left: 2em; padding-right: 2em;">
                    E-Cell S.G.S.I.T.S., Indore officially began on 17
                    March 2015. The Entrepreneurship Cell is a non-profit organization run by
                    students of SGSITS with the aim of manifesting entrepreneurship spirit of young
                    students. We at E-Cell host various workshops, speaker sessions, innovative
                    games, competitions for aspiring entrepreneurs and support them by providing
                    necessary resources such as seed funding, mentoring, consultancy and
                    networking.
                </p>
            </p>
            <section id="team">
                <div class="container my-3 py-5 text-center">
                    <div class="row mb-5">
                        <div class="col">
                            <h3 id="ecelltag"><strong>Evoke!Enterprise!Expand!</strong></h3>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-4 col-md-6" style="padding: 1em;">
                            <div class="card" id="inc">
                                <div class="card-body">
                                    <img src="/img/3.png" alt="" class="img-thumbnail rounded-circle"
                                        style="height: 150px; width: 100px; margin-bottom: 3em; background-color: black ;">
                                    <h3>Evoke</h3>
                                    <h5>Farmers will live again</h5>
                                    <p>The prime focus is growth of farmers</p>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6" style="padding: 1em;">
                            <div class="card" id="aap">
                                <div class="card-body">
                                    <img src="/img/1.png" alt="" class="img-thumbnail rounded-circle"
                                        style="height: 150px; width: 100px; margin-bottom: 3em; background-color: black ;">
                                    <h3>Enterprise</h3>
                                    <h5>Farmers will live again</h5>
                                    <p>The prime focus is growth of farmers</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6" style="padding: 1em;">
                            <div class="card" id="aap">
                                <div class="card-body">
                                    <img src="/img/2.png" alt="" class="img-thumbnail rounded-circle"
                                        style="height: 150px; width: 100px; margin-bottom: 3em; background-color: black ;">
                                    <h3>Expand</h3>
                                    <h5>Farmers will live again</h5>
                                    <p>The prime focus is growth of farmers</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <br>
            <hr />
            <br>

            <section style="padding-right: 2em; padding-left: 2em; text-align: center;">
                <p
                    style="text-align: center !important; font-weight: bold; font-family: 'Lato', sans-serif; font-size: xx-large;">
                    <strong>ABOUT US</strong>
                </p>
                <p><strong>E-Cell S.G.S.I.T.S. </strong>, Indore officially began on 17 March 2015. The Entrepreneurship
                    Cell
                    is a non-profit organization run by students of SGSITS with the aim of manifesting
                    entrepreneurship spirit of young students. We at E-Cell host various workshops, speaker
                    sessions, innovative games, competitions for aspiring entrepreneurs and support them by
                    providing necessary resources such as seed funding, mentoring, consultancy and networking.</p>
                <p>It believes in a meaningful entrepreneurial community, which can only thrive when the entire
                    scope of the academic enterprise is located in close proximity, in order to foster the formal
                    and informal inter communications that lead to productive collaboration.We believe that
                    entrepreneurship is the key that can unlock India's latent inventive potential. It will not only
                    push India to the forefront of the world but also help raise the quality of life in the country.
                </p>
                <p>With this belief The Entrepreneurship Cell, SGSITS targets to help in the development of India's
                    entrepreneurial ecosystem by enabling easy and efficient interaction between it's major
                    components spanning students, working professionals, aspiring and existing entrepreneurs,
                    mentors, investors, venture capital firms and corporate through initiatives like interactive
                    sessions, competitions, conferences etc. E cell, through its activities and competitions, has
                    served as the guiding torch to many individuals to start their own ventures.</p>
                <p><strong>VISION</strong></p>
                <p>is to bring a new revolution in Social Entrepreneurship by awakening the entrepreneur within
                    every individual. We provide a platform to the crowd to help them unveil the potential they
                    have. to promote start-ups among the students, to build an exhaustive resource pool to aid
                    potential student entrepreneur, to motivate the students to come up with feasible and practical
                    business plans.</p>
                <p><strong>MISSION</strong></p>
                <p>is to become a major E-cell in central India i.e. a leading incubation center in upcoming years
                    to develop a major center of Social Entrepreneurship .</p>
                <p><br></p>
                <hr>
            </section>

            <section>
                <p style="text-align: center !important; font-weight: bold; font-family: 'Lato', sans-serif; font-size: xx-large;">
                        <strong>Upcoming Event</strong></p>
            <canvas id="scene"></canvas>
            <button id="copy" value="E-Summit 2020 ♥"><span></span></button>
            <br>
            <br>
            <div class="button_base b03_skewed_slide_in">
                <div>Visit</div>
                <div></div>
                <div>E-Summit</div>
            </div>
            </section>
            <br>
            <hr>

            <section>
                <br>
                <p
                    style="text-align: center !important; font-weight: bold; font-family: 'Lato', sans-serif; font-size: xx-large;">
                    <strong>Our Mentors</strong>
                </p>
                <br>
                <div class="container">
                    <div class="card-deck">
                        <div class="card">
                            <img class="card-img-top" src="/img/nj.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="/img/ajn.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional content.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="/img/am.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="/img/np.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr>
            <section id=slbr style="margin: 2em !important;">
                <div id='monitor'>
                </div>
                <div class="owl-carousel owl-theme">

                    <div class="item"><img src="/img/modi.jpg">
                        <div class="caption">
                            <h5 class="animated pulse">"The number of growing women Entrepreneurs is a blessing for us"
                            </h5>
                        </div>
                    </div>
                    <div class="item"><img src="/img/rahul.jpg">
                        <div class="caption">
                            <h5 class="">"Meri murgi sone ka anda degi"</h5>
                        </div>
                    </div>

                    <div class="item"><img src="/img/amit.jpg">
                        <div class="caption">
                            <h5 class="">"Kashmir is an integral part of India, and nobody can take it away from us"
                            </h5>
                        </div>
                    </div>

                    <div class="item"><img src="/img/shashiji.jpg">
                        <div class="caption">
                            <h5 class="">"I'm not a techno-determinist. I believe we need to improve our existing human
                                resources,
                                and technology can only be a complement"</h5>
                        </div>
                    </div>


                    <div class="item"><img src="/img/shiv.jpg">
                        <div class="caption">
                            <h5 class="">"The seven crore people of M.P are my family"</h5>
                        </div>
                    </div>


                    <div class="item"><img src="/img/kamal.jpg">
                        <div class="caption">
                            <h5 class="">"I am not hungry for post, I am hungry for development"</h5>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
            </section>
            <hr>
            <section style="padding: 2em;">
                <div class='wrapper animated bounceInLeft'>
                    <div class='company-info'>
                        <h3>E-Cell SGSITS</h3>
                        <ul>
                            <li><i class="fa fa-road"></i> 23, Nehru Park Road, Vallabh Nagar
                                Indore, Madhya Pradesh 452003 India </li>

                            <li><i class="fa fa-phone"></i><strong> Mr. Manu Raj Ghelot (Overall Coordinator)</strong>:
                                1234567891 </li>
                            <li><i class="fa fa-envelope"></i> ecell.sgsits@gmail.com</li><br>
                            <li>
                                <iframe frameborder="0" style="border:0"
                                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;q=place_id:ElcyMywgTmVocnUgUGFyayBSZCwgQWdhcndhbCBOYWdhciwgQ2hob3RpIEd3YWx0b2xpLCBJbmRvcmUsIE1hZGh5YSBQcmFkZXNoIDQ1MjAwNywgSW5kaWE"
                                    allowfullscreen=""></iframe>
                            </li><br>
                            <p>
                            <strong>Follow Us</strong></p>
                            <a href="#" class="icon-button linkedin"><i class="icon-linkedin fab fa-linkedin-in"></i><span></span></a>
        <a href="#" class="icon-button facebook"><i class="icon-facebook fab fa-facebook-f"></i><span></span></a>
        <a href="#" class="icon-button youtube"><i class="icon-youtube fab fa-youtube"></i><span></span></a>
        <a href="#" class="icon-button instagram"><i class="icon-instagram fab fa-instagram"></i><span></span></a>
                        </ul>
                    </div>
                    <div class='contact'>
                        <h3>Email Us</h3>
                        <form method="POST" action="/">
                            <p>
                                <label>Name</label>
                                <input type="text" name='name' style="color: black;">
                            </p>

                            <p>
                                <label>Subject</label>
                                <input type="text" name='subject' style="color: black;">
                            </p>

                            <p>
                                <label>Email Adress</label>
                                <input type="email" name='email' style="color: black;">
                            </p>

                            <p>
                                <label>Phone Number</label>
                                <input type="text" name='phone' style="color: black;">
                            </p>

                            <p class='full'>
                                <label>Message</label>
                                <textarea name="message" rows="5" style="color: black;"></textarea>
                            </p>

                            <p class='full'>
                                <button onclick="message()">Submit</button>
                            </p>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

</section>

<script>
    baguetteBox.run('#slides');
</script>

<script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-app.js"></script>

  <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
  <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-analytics.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-firestore.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyAbIrxhlpo0cX8-uIvHUSuCCYSK2Gsa6Q4",
    authDomain: "ecellweb-d32be.firebaseapp.com",
    databaseURL: "https://ecellweb-d32be.firebaseio.com",
    projectId: "ecellweb-d32be",
    storageBucket: "ecellweb-d32be.appspot.com",
    messagingSenderId: "1009691924549",
    appId: "1:1009691924549:web:5892786fa2f1003d22eb2c",
    measurementId: "G-FYZVWEDYY9"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>


<% include partials/footer.ejs %>