<% include partials/header.ejs %>

<% include partials/navbarf.ejs %>

<link href="/css/team.css" rel="stylesheet">

<script src="/js/team.js" type="text/javascript"></script>
<!--
<section>
    <div class="topinfo">
        <div class="sinfo">
			<br><br><br>
			   <div class="container page-holder backImg">  
				<div class="heading text-center text-white"><h2>Our Team</h2></div>
				<p></p>
				<div class="subHeading text-white">Overall co-ordinators</div>
				<div class="row">
					<div class="card bg-dark col-sm-3">
						<div class="memberPhoto">
							 <img class="card-img-top"  src="https://gdurl.com/XB0m" alt="Manuraj Gehlot">
							 <div class="text-center over">
							  <div class="details">
								<p>
									<i class="fa fa-envelope"></i>
									abcd@example.com
								</p>
								<a href="https://www.facebook.com/manu.rajgehlot" class="social" target="_blank"><i class="fab fa-facebook-f"></i><span></span></a>
								<a href="https://www.linkedin.com/in/manuraj-gehlot-b2a20a145/" class="social" target="_blank"><i class="fab fa-linkedin-in"></i><span></span></a>
							  </div>	
							</div>
						</div>
						<div class="card-body">
							<div class="text-center">
								<h4 class="card-title">Manuraj Gehlot</h4>
								<p class="card-text">Overall coordinator</p>
							</div>
						</div>
					</div>
					<div class="card bg-dark col-sm-3">
						<div class="memberPhoto">
							 <img class="card-img-top"  src="https://gdurl.com/d7Ld" alt="Neha Pahuja">
							 <div class="text-center over">
							  <div class="details">
								<p>
									<i class="fa fa-envelope"></i>
									abcd@example.com
								</p>
								<a href="https://www.facebook.com/neha.pahuja.7" class="social" target="_blank"><i class="fab fa-facebook-f"></i><span></span></a>
								<a href="https://www.linkedin.com/in/neha-pahuja-a6217b140/" class="social" target="_blank"><i class="fab fa-linkedin-in"></i><span></span></a>
							   	
							  </div>	
							</div>
						</div>
						<div class="card-body">
							<div class="text-center">
								<h4 class="card-title">Neha Pahuja</h4>
								<p class="card-text">Overall coordinator</p>
							</div>
						</div>
					</div>
				</div>
				<div class="subHeading text-white">Heads and Coordinators</div>	
			<div class="row">
	    		<div class="card bg-dark col-sm-3">
					<div class="memberPhoto">
						 <img class="card-img-top"  src="https://gdurl.com/JLiZ" alt="Abhishek Gupta">
						 <div class="text-center over">
						  <div class="details">
							<p>
								<i class="fa fa-envelope"></i>
								abcd@example.com
							</p>
							<a href="https://www.facebook.com/profile.php?id=100008676498789" class="social" target="_blank"><i class="fab fa-facebook-f"></i><span></span></a>
							<a href="https://www.linkedin.com/in/abhishek-gupta-b34a60160/" class="social" target="_blank"><i class="fab fa-linkedin-in"></i><span></span></a>
							   
						  </div>	
						</div>
					</div>
					<div class="card-body">
						<div class="text-center">
							<h4 class="card-title">Abhishek Gupta</h4>
							<p class="card-text">Head Events</p>
						</div>
					</div>
				</div>
	    		<div class="card bg-dark col-sm-3">
					<div class="memberPhoto">
						 <img class="card-img-top"  src="https://gdurl.com/mE7Gx" alt="Pallavi Daur">
						 <div class="text-center over">
						  <div class="details">
							<p>
								<i class="fa fa-envelope"></i>
								abcd@example.com
							</p>
							<a href="https://www.facebook.com/pallavi.daur.54" class="social" target="_blank"><i class="fab fa-facebook-f"></i><span></span></a>
							<a href="https://www.linkedin.com/in/pallavi-daur-aa6447163/" class="social" target="_blank"><i class="fab fa-linkedin-in"></i><span></span></a>
							   
						  </div>	
						</div>
					</div>
					<div class="card-body">
						<div class="text-center">
							<h4 class="card-title">Pallavi Daur</h4>
							<p class="card-text">Head Finance</p>
						</div>
					</div>
				</div>
	    		<div class="card bg-dark col-sm-3">
					<div class="memberPhoto">
						 <img class="card-img-top"  src="https://gdurl.com/c5oO" alt="Shreyansh Bhandari">
						 <div class="text-center over">
						  <div class="details">
							<p>
								<i class="fa fa-envelope"></i>
								abcd@example.com
							</p>
							<a href="#" class="social" target="_blank"><i class="fab fa-facebook-f"></i><span></span></a>
							<a href="https://www.linkedin.com/in/shreyansh-bhandari-78b41815a/" class="social" target="_blank"><i class="fab fa-linkedin-in"></i><span></span></a>
							   
						  </div>	
						</div>
					</div>
					<div class="card-body">
						<div class="text-center">
							<h4 class="card-title">Shreyansh Bhandari</h4>
							<p class="card-text">Head HR</p>
						</div>
					</div>
				</div>
	    		<div class="card bg-dark col-sm-3">
					<div class="memberPhoto">
						 <img class="card-img-top"  src="https://gdurl.com/bRNh" alt="Yashi Magre">
						 <div class="text-center over">
						  <div class="details">
							<p>
								<i class="fa fa-envelope"></i>
								abcd@example.com
							</p>
							<a href="https://www.facebook.com/yashi.magre" class="social" target="_blank"><i class="fab fa-facebook-f"></i><span></span></a>
							<a href="https://www.linkedin.com/in/yashi-magre-1bb980170/" class="social" target="_blank"><i class="fab fa-linkedin-in"></i><span></span></a>
							   
						  </div>	
						</div>
					</div>
					<div class="card-body">
						<div class="text-center">
							<h4 class="card-title">Yashi Magre</h4>
							<p class="card-text">Head Corporate Relations</p>
						</div>
					</div>
				</div>
	    		<div class="card bg-dark col-sm-3">
					<div class="memberPhoto">
						 <img class="card-img-top"  src="https://gdurl.com/QSsX" alt="Jaya Lalwani">
						 <div class="text-center over">
						  <div class="details">
							<p>
								<i class="fa fa-envelope"></i>
								abcd@example.com
							</p>
							<a href="https://www.facebook.com/jaya.lalwani.566" class="social" target="_blank"><i class="fab fa-facebook-f"></i><span></span></a>
							<a href="https://www.linkedin.com/in/jaya-lalwani-776317155/" class="social" target="_blank"><i class="fab fa-linkedin-in"></i><span></span></a>
							   
						  </div>	
						</div>
					</div>
					<div class="card-body">
						<div class="text-center">
							<h4 class="card-title">Jaya Lalwani</h4>
							<p class="card-text">Head Media Relations</p>
						</div>
					</div>
				</div>
	    		<div class="card bg-dark col-sm-3">
					<div class="memberPhoto">
						 <img class="card-img-top"  src="https://gdurl.com/Kd7I" alt="Nimesh Dwivedi">
						 <div class="text-center over">
						  <div class="details">
							<p>
								<i class="fa fa-envelope"></i>
								abcd@example.com
							</p>
							<a href="https://www.facebook.com/nimesh.dwivedi" class="social" target="_blank"><i class="fab fa-facebook-f"></i><span></span></a>
							<a href="https://www.linkedin.com/in/nimesh-dwivedi-839456163/" class="social" target="_blank"><i class="fab fa-linkedin-in"></i><span></span></a>
							   
						  </div>	
						</div>
					</div>
					<div class="card-body">
						<div class="text-center">
							<h4 class="card-title">Nimesh Dwivedi</h4>
							<p class="card-text">Head Media Relations</p>
						</div>
					</div>
				</div>
	    		<div class="card bg-dark col-sm-3">
					<div class="memberPhoto">
						 <img class="card-img-top"  src="https://gdurl.com/Edlx" alt="Rithik Sachdev">
						 <div class="text-center over">
						  <div class="details">
							<p>
								<i class="fa fa-envelope"></i>
								abcd@example.com
							</p>
							<a href="https://www.facebook.com/rithik.sachdev" class="social" target="_blank"><i class="fab fa-facebook-f"></i><span></span></a>
							<a href="https://www.linkedin.com/in/rithik-sachdev/" class="social" target="_blank"><i class="fab fa-linkedin-in"></i><span></span></a>
							   
						  </div>	
						</div>
					</div>
					<div class="card-body">
						<div class="text-center">
							<h4 class="card-title">Rithik Sachdev</h4>
							<p class="card-text">Head External Affairs</p>
						</div>
					</div>
				</div>
	    		<div class="card bg-dark col-sm-3">
					<div class="memberPhoto">
						 <img class="card-img-top"  src="https://gdurl.com/FbVm" alt="Samiksha Choudhary">
						 <div class="text-center over">
						  <div class="details">
							<p>
								<i class="fa fa-envelope"></i>
								abcd@example.com
							</p>
							<a href="https://www.facebook.com/samiksha.choudhary.92775" class="social" target="_blank"><i class="fab fa-facebook-f"></i><span></span></a>
							<a href="https://www.linkedin.com/in/samiksha-choudhary-933795148/" class="social" target="_blank"><i class="fab fa-linkedin-in"></i><span></span></a>
							   
						  </div>	
						</div>
					</div>
					<div class="card-body">
						<div class="text-center">
							<h4 class="card-title">Samiksha Choudhary</h4>
							<p class="card-text">Head Marketing</p>
						</div>
					</div>
				</div>
	    		<div class="card bg-dark col-sm-3">
					<div class="memberPhoto">
						 <img class="card-img-top"  src="https://gdurl.com/A9ty" alt="Deveshree Shrivastava">
						 <div class="text-center over">
						  <div class="details">
							<p>
								<i class="fa fa-envelope"></i>
								abcd@example.com
							</p>
							<a href="https://www.facebook.com/deveshree.shrivastava" class="social" target="_blank"><i class="fab fa-facebook-f"></i><span></span></a>
							<a href="https://www.linkedin.com/in/deveshree-shrivastava-94b673160/" class="social" target="_blank"><i class="fab fa-linkedin-in"></i><span></span></a>
							   
						  </div>	
						</div>
					</div>
					<div class="card-body">
						<div class="text-center">
							<h4 class="card-title">Deveshree Shrivatava</h4>
							<p class="card-text">Head Design</p>
						</div>
					</div>
				</div>
	    		<div class="card bg-dark col-sm-3">
					<div class="memberPhoto">
						 <img class="card-img-top"  src="https://gdurl.com/Jv5K" alt="Milan Bansal">
						 <div class="text-center over">
						  <div class="details">
							<p>
								<i class="fa fa-envelope"></i>
								abcd@example.com
							</p>
							<a href="https://www.facebook.com/milan.bansal.779" class="social" target="_blank"><i class="fab fa-facebook-f"></i><span></span></a>
							<a href="https://www.linkedin.com/in/milan-bansal-607a38162/" class="social" target="_blank"><i class="fab fa-linkedin-in"></i><span></span></a>
							   
						  </div>	
						</div>
					</div>
					<div class="card-body">
						<div class="text-center">
							<h4 class="card-title">Milan Bansal</h4>
							<p class="card-text">Head Design</p>
						</div>
					</div>
				</div>
	    		<div class="card bg-dark col-sm-3">
					<div class="memberPhoto">
						 <img class="card-img-top"  src="https://gdurl.com/b8QU" alt="Prasham Pahadiya">
						 <div class="text-center over">
						  <div class="details">
							<p>
								<i class="fa fa-envelope"></i>
								abcd@example.com
							</p>
							<a href="https://www.facebook.com/prasham.pahadiya.5" class="social" target="_blank"><i class="fab fa-facebook-f"></i><span></span></a>
							<a href="https://www.linkedin.com/in/prasham-pahadiya-793b3a170/" class="social" target="_blank"><i class="fab fa-linkedin-in"></i><span></span></a>
							   
						  </div>	
						</div>
					</div>
					<div class="card-body">
						<div class="text-center">
							<h4 class="card-title">Prasham Pahadiya</h4>
							<p class="card-text">Marketing Coordinator</p>
						</div>
					</div>
				</div>
	    		<div class="card bg-dark col-sm-3">
					<div class="memberPhoto">
						 <img class="card-img-top"  src="https://gdurl.com/BqG3" alt="Mimansa Sipoliya">
						 <div class="text-center over">
						  <div class="details">
							<p>
								<i class="fa fa-envelope"></i>
								abcd@example.com
							</p>
							<a href="https://www.facebook.com/mimansa.sipolya.3" class="social" target="_blank"><i class="fab fa-facebook-f"></i><span></span></a>
							<a href="https://www.linkedin.com/in/mimansa-sipolya-78063716b/" class="social" target="_blank"><i class="fab fa-linkedin-in"></i><span></span></a>
							   
						  </div>	
						</div>
					</div>
					<div class="card-body">
						<div class="text-center">
							<h4 class="card-title">Mimansa Sipoliya</h4>
							<p class="card-text">Marketing Coordinator</p>
						</div>
					</div>
				</div>
	    		<div class="card bg-dark col-sm-3">
					<div class="memberPhoto">
						 <img class="card-img-top"  src="https://gdurl.com/XvAk" alt="Kajal Meena">
						 <div class="text-center over">
						  <div class="details">
							<p>
								<i class="fa fa-envelope"></i>
								abcd@example.com
							</p>
							<a href="https://www.facebook.com/profile.php?id=100008461777187" class="social" target="_blank"><i class="fab fa-facebook-f"></i><span></span></a>
							<a href="https://www.linkedin.com/in/kajal-meena-221098/" class="social" target="_blank"><i class="fab fa-linkedin-in"></i><span></span></a>
							   
						  </div>	
						</div>
					</div>
					<div class="card-body">
						<div class="text-center">
							<h4 class="card-title">Kajal Meena</h4>
							<p class="card-text">Web Coordinator</p>
						</div>
					</div>
				</div>
	    		<div class="card bg-dark col-sm-3">
					<div class="memberPhoto">
						 <img class="card-img-top"  src="https://gdurl.com/PK-m" alt="Khushbu Baswani">
						 <div class="text-center over">
						  <div class="details">
							<p>
								<i class="fa fa-envelope"></i>
								abcd@example.com
							</p>
							<a href="#" class="social" target="_blank"><i class="fab fa-facebook-f"></i><span></span></a>
							<a href="https://www.linkedin.com/in/khushbu-baswani-a12426164/" class="social" target="_blank"><i class="fab fa-linkedin-in"></i><span></span></a>
							   
						  </div>	
						</div>
					</div>
					<div class="card-body">
						<div class="text-center">
							<h4 class="card-title">Khushbu Baswani</h4>
							<p class="card-text">Events Coordinator</p>
						</div>
					</div>
				</div>
	    		<div class="card bg-dark col-sm-3">
					<div class="memberPhoto">
						 <img class="card-img-top"  src="https://gdurl.com/lSzx" alt="Ashutosh Dwivedi">
						 <div class="text-center over">
						  <div class="details">
							<p>
								<i class="fa fa-envelope"></i>
								abcd@example.com
							</p>
							<a href="#" class="social" target="_blank"><i class="fab fa-facebook-f"></i><span></span></a>
							<a href="#" class="social" target="_blank"><i class="fab fa-linkedin-in"></i><span></span></a>
							   
						  </div>	
						</div>
					</div>
					<div class="card-body">
						<div class="text-center">
							<h4 class="card-title">Ashutosh Dwivedi</h4>
							<p class="card-text">Events Coordinator</p>
						</div>
					</div>
				</div>
	    		<div class="card bg-dark col-sm-3">
					<div class="memberPhoto">
						 <img class="card-img-top"  src="https://gdurl.com/pq0m" alt="Jahanvi Sisodiya">
						 <div class="text-center over">
						  <div class="details">
							<p>
								<i class="fa fa-envelope"></i>
								abcd@example.com
							</p>
							<a href="https://www.facebook.com/jahanvi.sisodiya.9" class="social" target="_blank"><i class="fab fa-facebook-f"></i><span></span></a>
							<a href="https://www.linkedin.com/in/jahanvi-sisodiya-760711152/" class="social" target="_blank"><i class="fab fa-linkedin-in"></i><span></span></a>
							   
						  </div>	
						</div>
					</div>
					<div class="card-body">
						<div class="text-center">
							<h4 class="card-title">Jahanvi Sisodiya</h4>
							<p class="card-text">Design Coordinator</p>
						</div>
					</div>
				</div>
	    		<div class="card bg-dark col-sm-3">
					<div class="memberPhoto">
						 <img class="card-img-top"  src="https://gdurl.com/wCTl" alt="Jahanvi Sisodiya">
						 <div class="text-center over">
						  <div class="details">
							<p>
								<i class="fa fa-envelope"></i>
								abcd@example.com
							</p>
							<a href="https://www.facebook.com/profile.php?id=100005469039117" class="social" target="_blank"><i class="fab fa-facebook-f"></i><span></span></a>
							<a href="https://www.linkedin.com/in/shreya-mishra-494062162/" class="social" target="_blank"><i class="fab fa-linkedin-in"></i><span></span></a>
							   
						  </div>	
						</div>
					</div>
					<div class="card-body">
						<div class="text-center">
							<h4 class="card-title">Shreya Mishra</h4>
							<p class="card-text">Corporate Relations Coordinator</p>
						</div>
					</div>
				</div>
			</div>
			<div style="margin-left:45%;margin-bottom:40px;">
				<button type="button" class="btn btn-info" onclick="show()">Other Coordinators</button>
			</div>
			<div id ="coordinators">
				<p><a href="#" class="btn btn-dark">Ayush Jain</a></p>
				<p><a href="https://www.linkedin.com/in/nandini-mehta-1aa392184/" class="btn btn-dark">Nandini Mehta</a></p>
				<p><a href="https://www.linkedin.com/in/utsav-patidar-818393184/" class="btn btn-dark">Utsav Patidar</a></p>
				<p><a href="#" class="btn btn-dark">Mahak Agrawal</a></p>
				<p><a href="https://www.linkedin.com/in/akanksha-lalwani-792275193/" class="btn btn-dark">Akansha Lalwani</a></p>
				<p><a href="https://www.linkedin.com/in/bhavit-jain-334679176/" class="btn btn-dark">Bhavit Jain</a></p>
				<p><a href="https://www.linkedin.com/in/aman-nema-966293186/" class="btn btn-dark">Aman Nema</a></p>
				<p><a href="https://www.linkedin.com/in/priyanshi-khandelwal-595a4b18b/" class="btn btn-dark">Priyanshi Khandelwal</a></p>
				<p><a href="https://www.linkedin.com/in/aastha-jain-ba3163191/" class="btn btn-dark">Aastha Jain</a></p>
				<p><a href="#" class="btn btn-dark">Dhanshree Kulkarni</a></p>
				<p><a href="https://www.linkedin.com/in/aditya-mishra-41aa01185/" class="btn btn-dark">Aditya Mishra</a></p>
				<p><a href="https://www.linkedin.com/in/manav-agarwal-68b75a192/" class="btn btn-dark">Manav Agrawal</a></p>
				<p><a href="https://www.linkedin.com/in/nandini-joshi-609807193/" class="btn btn-dark">Nandini Joshi</a></p>
				<p><a href="https://www.linkedin.com/in/vaibhav-dhulekar-a48894189/" class="btn btn-dark">Vaibhav Dhulekar</a></p>
				<p><a href="https://www.linkedin.com/in/monark-gupta-6b7203191/" class="btn btn-dark">Monark Gupta</a></p>
				<p><a href="https://www.linkedin.com/in/manish-kumar-sinha-503637180/" class="btn btn-dark">Mainsh Kumar Sinha</a></p>
				<p><a href="https://www.linkedin.com/in/harsh-r-gupta-304253197/" class="btn btn-dark">Harsh Gupta</a></p>
				<p><a href="#" class="btn btn-dark">Mukul Sharma</a></p>
				<p><a href="https://www.linkedin.com/in/harshit-gupta-/" class="btn btn-dark">Harshit Gupta</a></p>
				<p><a href="#" class="btn btn-dark">Himanshu Malviya</a></p>
				<p><a href="https://www.linkedin.com/in/sarthak-awasthi-3877a6177/" class="btn btn-dark">Sarthak Awasthi</a></p>
				<p><a href="#" class="btn btn-dark">Aryan Sharma</a></p>
			</div>
		</div>   
	</div>
</div>
</section>
-->

<section>
	<div class="topinfo">
		<div class="sinfo">
			<br><br><br>
			<div class="cont">
				<div class="heading">
					<h2 class="text-center">OUR TEAM</h2>
					<hr />
				</div>
				<div class="sub-heading text-center">
					<h2>Overall Coordinators</h2>
				</div>
				<div class="row">
					<div class="card col-sm-3">
						<img class="card-img-top" src="https://gdurl.com/KnFt" alt="Manuraj Gehlot">
						<div class="card-body">
							<h4 class="card-title text-center">Manuraj Gehlot</h4>
							<p class="card-text text-center">Overall coordinator</p>
							<div class="social-link">
								<a href="https://www.facebook.com/manu.rajgehlot" class="icon-button facebook"><i class="icon-facebook fab fa-facebook-f"></i><span></span></a>
								<a href="https://www.linkedin.com/in/manuraj-gehlot-b2a20a145/" class="icon-button linkedin"><i class="icon-linkedin fab fa-linkedin-in"></i><span></span></a>
							</div>
						</div>
					</div>
					<div class="card col-sm-3">
						<img class="card-img-top" src="https://gdurl.com/d7Ld" alt="Neha Pahuja">
						<div class="card-body">
							<h4 class="card-title text-center">Neha Pahuja</h4>
							<p class="card-text text-center">Overall coordinator</p>
							<div class="social-link">
								<a href="https://www.facebook.com/neha.pahuja.7" class="icon-button facebook"><i class="icon-facebook fab fa-facebook-f"></i><span></span></a>
								<a href="https://www.linkedin.com/in/neha-pahuja-a6217b140/" class="icon-button linkedin"><i class="icon-linkedin fab fa-linkedin-in"></i><span></span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="sub-heading text-center">
					<h2>Heads and Coordinators</h2>
				</div>
				<div class="row">
					<div class="card col-sm-3">
						<img class="card-img-top" src="https://gdurl.com/4-LH" alt="Abhishek Gupta">
						<div class="card-body">
							<h4 class="card-title text-center">Abhishek Gupta</h4>
							<p class="card-text text-center">Head, Events</p>
							<div class="social-link">
								<a href="https://www.facebook.com/profile.php?id=100008676498789" class="icon-button facebook"><i class="icon-facebook fab fa-facebook-f"></i><span></span></a>
								<a href="https://www.linkedin.com/in/abhishek-gupta-b34a60160/" class="icon-button linkedin"><i class="icon-linkedin fab fa-linkedin-in"></i><span></span></a>
							</div>
						</div>
					</div>
					<div class="card col-sm-3">
						<img class="card-img-top" src="https://gdurl.com/4HLs" alt="Pallavi Daur">
						<div class="card-body">
							<h4 class="card-title text-center">Pallavi Daur</h4>
							<p class="card-text text-center">Head, Finance</p>
							<div class="social-link">
								<a href="https://www.facebook.com/pallavi.daur.54" class="icon-button facebook"><i class="icon-facebook fab fa-facebook-f"></i><span></span></a>
								<a href="https://www.linkedin.com/in/pallavi-daur-aa6447163/" class="icon-button linkedin"><i class="icon-linkedin fab fa-linkedin-in"></i><span></span></a>
							</div>
						</div>
					</div>
					<div class="card col-sm-3">
						<img class="card-img-top" src="https://gdurl.com/c5oO" alt="Shreyansh Bhandari">
						<div class="card-body">
							<h4 class="card-title text-center">Shreyansh Bhandari</h4>
							<p class="card-text text-center">Head, HR</p>
							<div class="social-link">
								<a href="#" class="icon-button facebook"><i class="icon-facebook fab fa-facebook-f"></i><span></span></a>
								<a href="https://www.linkedin.com/in/shreyansh-bhandari-78b41815a/" class="icon-button linkedin"><i class="icon-linkedin fab fa-linkedin-in"></i><span></span></a>
							</div>
						</div>
					</div>
					<div class="card col-sm-3">
						<img class="card-img-top" src="https://gdurl.com/bRNh" alt="Yashi Magre">
						<div class="card-body">
							<h4 class="card-title text-center">Yashi Magre</h4>
							<p class="card-text text-center">Head, Corporate Relations</p>
							<div class="social-link">
								<a href="https://www.facebook.com/yashi.magre" class="icon-button facebook"><i class="icon-facebook fab fa-facebook-f"></i><span></span></a>
								<a href="https://www.linkedin.com/in/yashi-magre-1bb980170/" class="icon-button linkedin"><i class="icon-linkedin fab fa-linkedin-in"></i><span></span></a>
							</div>
						</div>
					</div>
					<div class="card col-sm-3">
						<img class="card-img-top" src="https://gdurl.com/QSsX" alt="Jaya Lalwani">
						<div class="card-body">
							<h4 class="card-title text-center">Jaya Lalwani</h4>
							<p class="card-text text-center">Head, Media Relations</p>
							<div class="social-link">
								<a href="https://www.facebook.com/jaya.lalwani.566" class="icon-button facebook"><i class="icon-facebook fab fa-facebook-f"></i><span></span></a>
								<a href="https://www.linkedin.com/in/jaya-lalwani-776317155/" class="icon-button linkedin"><i class="icon-linkedin fab fa-linkedin-in"></i><span></span></a>
							</div>
						</div>
					</div>
					<div class="card col-sm-3">
						<img class="card-img-top" src="https://gdurl.com/kmvg" alt="Nimesh Dwivedi">
						<div class="card-body">
							<h4 class="card-title text-center">Nimesh Dwivedi</h4>
							<p class="card-text text-center">Head, Media Relations</p>
							<div class="social-link">
								<a href="https://www.facebook.com/nimesh.dwivedi" class="icon-button facebook"><i class="icon-facebook fab fa-facebook-f"></i><span></span></a>
								<a href="https://www.linkedin.com/in/nimesh-dwivedi-839456163/" class="icon-button linkedin"><i class="icon-linkedin fab fa-linkedin-in"></i><span></span></a>
							</div>
						</div>
					</div>
					<div class="card col-sm-3">
						<img class="card-img-top" src="https://gdurl.com/j1Ud" alt="Rithik Sachdev">
						<div class="card-body">
							<h4 class="card-title text-center">Rithik Sachdev</h4>
							<p class="card-text text-center">Head, External Affairs</p>
							<div class="social-link">
								<a href="https://www.facebook.com/rithik.sachdev" class="icon-button facebook"><i class="icon-facebook fab fa-facebook-f"></i><span></span></a>
								<a href="https://www.linkedin.com/in/rithik-sachdev/" class="icon-button linkedin"><i class="icon-linkedin fab fa-linkedin-in"></i><span></span></a>
							</div>
						</div>
					</div>
					<div class="card col-sm-3">
						<img class="card-img-top" src="https://gdurl.com/0o0Z" alt="Samiksha Choudhary">
						<div class="card-body">
							<h4 class="card-title text-center">Samiksha Choudhary</h4>
							<p class="card-text text-center">Head, Marketing</p>
							<div class="social-link">
								<a href="https://www.facebook.com/samiksha.choudhary.92775" class="icon-button facebook"><i class="icon-facebook fab fa-facebook-f"></i><span></span></a>
								<a href="https://www.linkedin.com/in/samiksha-choudhary-933795148/" class="icon-button linkedin"><i class="icon-linkedin fab fa-linkedin-in"></i><span></span></a>
							</div>
						</div>
					</div>
					<div class="card col-sm-3">
						<img class="card-img-top" src="https://gdurl.com/7ABF" alt="Deveshree Shrivastava">
						<div class="card-body">
							<h4 class="card-title text-center">Deveshree Shrivastava</h4>
							<p class="card-text text-center">Head, Design</p>
							<div class="social-link">
								<a href="https://www.facebook.com/deveshree.shrivastava" class="icon-button facebook"><i class="icon-facebook fab fa-facebook-f"></i><span></span></a>
								<a href="https://www.linkedin.com/in/deveshree-shrivastava-94b673160/" class="icon-button linkedin"><i class="icon-linkedin fab fa-linkedin-in"></i><span></span></a>
							</div>
						</div>
					</div>
					<div class="card col-sm-3">
						<img class="card-img-top" src="https://gdurl.com/Jv5K" alt="Milan Bansal">
						<div class="card-body">
							<h4 class="card-title text-center">Milan Bansal</h4>
							<p class="card-text text-center">Head, Design</p>
							<div class="social-link">
								<a href="https://www.facebook.com/milan.bansal.779" class="icon-button facebook"><i class="icon-facebook fab fa-facebook-f"></i><span></span></a>
								<a href="https://www.linkedin.com/in/milan-bansal-607a38162/" class="icon-button linkedin"><i class="icon-linkedin fab fa-linkedin-in"></i><span></span></a>
							</div>
						</div>
					</div>
					<div class="card col-sm-3">
						<img class="card-img-top" src="https://gdurl.com/QoOJ" alt="Prasham Pahadiya">
						<div class="card-body">
							<h4 class="card-title text-center">Prasham Pahadiya</h4>
							<p class="card-text text-center">Marketing Coordinator</p>
							<div class="social-link">
								<a href="https://www.facebook.com/prasham.pahadiya.5" class="icon-button facebook"><i class="icon-facebook fab fa-facebook-f"></i><span></span></a>
								<a href="https://www.linkedin.com/in/prasham-pahadiya-793b3a170/" class="icon-button linkedin"><i class="icon-linkedin fab fa-linkedin-in"></i><span></span></a>
							</div>
						</div>
					</div>
					<div class="card col-sm-3">
						<img class="card-img-top" src="https://gdurl.com/dde8" alt="Mimansa Sipoliya">
						<div class="card-body">
							<h4 class="card-title text-center">Mimansa Sipoliya</h4>
							<p class="card-text text-center">Marketing Coordinator</p>
							<div class="social-link">
								<a href="https://www.facebook.com/mimansa.sipolya.3" class="icon-button facebook"><i class="icon-facebook fab fa-facebook-f"></i><span></span></a>
								<a href="https://www.linkedin.com/in/mimansa-sipolya-78063716b/" class="icon-button linkedin"><i class="icon-linkedin fab fa-linkedin-in"></i><span></span></a>
							</div>
						</div>
					</div>
					<div class="card col-sm-3">
						<img class="card-img-top" src="https://gdurl.com/he8Q" alt="Kajal Meena">
						<div class="card-body">
							<h4 class="card-title text-center">Kajal Meena</h4>
							<p class="card-text text-center">Web Coordinator</p>
							<div class="social-link">
								<a href="https://www.facebook.com/profile.php?id=100008461777187" class="icon-button facebook"><i class="icon-facebook fab fa-facebook-f"></i><span></span></a>
								<a href="#https://www.linkedin.com/in/kajal-meena-221098/" class="icon-button linkedin"><i class="icon-linkedin fab fa-linkedin-in"></i><span></span></a>
							</div>
						</div>
					</div>
					<div class="card col-sm-3">
						<img class="card-img-top" src="https://gdurl.com/PK-m" alt="Khushbu Baswani">
						<div class="card-body">
							<h4 class="card-title text-center">Khushbu Baswani</h4>
							<p class="card-text text-center">Events Coordinator</p>
							<div class="social-link">
								<a href="#" class="icon-button facebook"><i class="icon-facebook fab fa-facebook-f"></i><span></span></a>
								<a href="https://www.linkedin.com/in/khushbu-baswani-a12426164/" class="icon-button linkedin"><i class="icon-linkedin fab fa-linkedin-in"></i><span></span></a>
							</div>
						</div>
					</div>
					<div class="card col-sm-3">
						<img class="card-img-top" src="https://gdurl.com/lSzx" alt="Ashutosh Dwivedi">
						<div class="card-body">
							<h4 class="card-title text-center">Ashutosh Dwivedi</h4>
							<p class="card-text text-center">Events Coordinator</p>
							<div class="social-link">
								<a href="#" class="icon-button facebook"><i class="icon-facebook fab fa-facebook-f"></i><span></span></a>
								<a href="#" class="icon-button linkedin"><i class="icon-linkedin fab fa-linkedin-in"></i><span></span></a>
							</div>
						</div>
					</div>
					<div class="card col-sm-3">
						<img class="card-img-top" src="https://gdurl.com/0pou" alt="Jahanvi Sisodiya">
						<div class="card-body">
							<h4 class="card-title text-center">Jahanvi Sisodiya</h4>
							<p class="card-text text-center">Design Coordinator</p>
							<div class="social-link">
								<a href="https://www.facebook.com/jahanvi.sisodiya.9" class="icon-button facebook"><i class="icon-facebook fab fa-facebook-f"></i><span></span></a>
								<a href="https://www.linkedin.com/in/jahanvi-sisodiya-760711152/" class="icon-button linkedin"><i class="icon-linkedin fab fa-linkedin-in"></i><span></span></a>
							</div>
						</div>
					</div>
					<div class="card col-sm-3">
						<img class="card-img-top" src="https://gdurl.com/wCTl" alt="Shreya Mishra">
						<div class="card-body">
							<h4 class="card-title text-center">Shreya Mishra</h4>
							<p class="card-text text-center">Corporate Relations Coordinator</p>
							<div class="social-link">
								<a href="https://www.facebook.com/profile.php?id=100005469039117" class="icon-button facebook"><i class="icon-facebook fab fa-facebook-f"></i><span></span></a>
								<a href="https://www.linkedin.com/in/shreya-mishra-494062162/" class="icon-button linkedin"><i class="icon-linkedin fab fa-linkedin-in"></i><span></span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="hidden">
					<div><button onclick="show()"><h4>Other Coordinators</h4></button></div>
				</div>
				<div class="others text-center" id="coordinators">
					<a href="#">Ayush Jain</a>
					<a href="https://www.linkedin.com/in/nandini-mehta-1aa392184/">Nandini Mehta</a>
					<a href="https://www.linkedin.com/in/nandini-joshi-609807193/">Nandini Joshi</a>
					<a href="https://www.linkedin.com/in/utsav-patidar-818393184/">Utsav Patidar</a>
					<a href="#">Mahak Agrawal</a>
					<a href="https://www.linkedin.com/in/akanksha-lalwani-792275193/">Akanksha Lalwani</a>
					<a href="https://www.linkedin.com/in/bhavit-jain-334679176/">Bhavit Jain</a>
					<a href="https://www.linkedin.com/in/aman-nema-966293186/">Aman Nema</a>
					<a href="https://www.linkedin.com/in/priyanshi-khandelwal-595a4b18b/">Priyanshi Khandelwal</a>
					<a href="https://www.linkedin.com/in/aastha-jain-ba3163191/">Aastha Jain</a>
					<a href="https://www.linkedin.com/in/manav-agarwal-68b75a192/">Manav Agrawal</a>
					<a href="https://www.linkedin.com/in/harshit-gupta-/">Harshit Gupta</a>
					<a href="#">Dhanshree Kulkarni</a>
					<a href="https://www.linkedin.com/in/aditya-mishra-41aa01185/">Aditya Mishra</a>
					<a href="https://www.linkedin.com/in/vaibhav-dhulekar-a48894189/">Vaibhav Dhulekar</a>
					<a href="https://www.linkedin.com/in/monark-gupta-6b7203191/">Monark Gupta</a>
					<a href="https://www.linkedin.com/in/manish-kumar-sinha-503637180/">Manish Kumar Sinha</a>
					<a href="https://www.linkedin.com/in/harsh-r-gupta-304253197/">Harsh Gupta</a>
					<a href="#">Mukul Sharma</a>
					<a href="#">Himanshu Malviya</a>
				</div>
			</div>
		</div>
	</div>
</section>

<% include partials/footer.ejs %>